* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
:root {
  --font-family: "Fraunces", serif;
  --second-family: "Barlow", sans-serif;
}
body {
  font-family: "Fraunces", serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
